<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="field">
        <a class="sns-btn sns-btn--twitter">
            <i class="sns-btn__icon fab fa-twitter"></i>
        </a>	
        <a class="sns-btn sns-btn--facebook">
            <i class="sns-btn__icon fab fa-facebook-f"></i>
        </a>
        <a class="sns-btn sns-btn--instagram">
            <i class="sns-btn__icon fab fa-instagram"></i>
        </a>
    </div>
</body>
</html>